OPENAI_API_KEY=<your-openai-api-key-here>
BALL_DONT_LIE_API_KEY=<your-ball-dont-lie-api-key-here>
TOMORROW_WEATHER_API_KEY=<your-tomorrow-weather-api-key-here>
THE_ODDS_API_KEY=<your-odds-api-key-here>
ORT_LOG_SEVERITY_LEVEL=ERROR

# LLM Configuration
LLM_PROVIDER=lmstudio
LLM_MODEL=local-model # Needed for Ollama; with LM Studio is irrelevant because whatever model is loaded in the app is used
LLM_BASE_URL=http://localhost:1234/v1
LLM_TEMPERATURE=0.1
